# Ignore node_modules
/node_modules/

# Ignore logs
/logs/
*.log
npm-debug.log*

# Ignore test and documentation files
test
tests
/coverage/
*.md

# Ignore environment variables
.env
.env.local
.env.*.local

# Ignore any Docker-related files
Dockerfile
.dockerignore

# Ignore any build artifacts
/dist/
/build/
